<a href="https://colab.research.google.com/github/HarisJafri-xcode/Python-for-Data-Science/blob/main/01-Core-Python/1_3_Input_%26_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# input() Function

The input() function in Python is used to take input from the user during program execution.

In [ ]:
name = input("Enter Your Name Please: ")
print("Hello", name)

Enter Your Name Please: Robert
Hello Robert

The text inside the parentheses (like "Enter Your Name Please: ") is a prompt shown to the user.

The function waits for the user to type something and press Enter.

Whatever the user types is always returned as a string.

In [ ]:
age = input('Enter Your Age Please: ')
print("You are",age,"years old!")

Enter Your Age Please: 35
You are 35 years old!

In [ ]:
number = input("Enter a Number: ")
print(number * 2) # String getting multiplied by 2

Enter a Number: 5
55

So before proceeding forward and perform mathematical operations on a Python Object that is collected from User via input() Function. We need to convert it to a Numeric Data Type.

In [1]:
age = input('Enter Your Age Please: ') # We are not converting the String Data Type here
print("Jack is",age*2,"years old and you are only",age,"years old!") # We can not perform mathematical operations

Enter Your Age Please: 9
Jack is 99 years old and you are only 9 years old!

Did you see? We want to say that Jack is twice your age but since we have not converted the Python Object received from input() Function, therefore Python Interpretor is outputing 99 instead of 18.

In [2]:
age = input('Enter Your Age Please: ')
age = int(age) # We are converting the String Data Type to Integer Data Type
print("Jack is",age*2,"years old and you are only",age,"years old!")

Enter Your Age Please: 9
Jack is 18 years old and you are only 9 years old!

In [5]:
user_height = input('Enter Your Height in feet: ')
user_height = float(user_height) # We are converting the String Data Type to Float Data Type

undertaker_height = 10

print("Undertaker is",undertaker_height-user_height,"feet taller than you!")

Enter Your Height in feet: 5.7
Undertaker is 4.3 feet taller than you!

# Comparison Operators

We have seen and understood Boolean Datatypes. We can create Boolean Data Types by the use of Operators. One of them is Comparison Operators.

In [6]:
Alice_Age = 10 # Using the Assignment Operator to store 10 inside variable Alice_Age
Bob_Age = 15 # Using the Assignment Operator to store 15 inside variable Bob_Age

In [7]:
print(Alice_Age == Bob_Age) # Using the Comparison Operator to check if Alice_Age is equal to Bob_Age

False

In [8]:
print(Alice_Age != Bob_Age) # Using the Comparison Operator to check if Alice_Age is not equal to Bob_Age

True

In [9]:
print(Alice_Age > Bob_Age) # Using the Comparison Operator to check if Alice_Age is greater than Bob_Age

False

In [10]:
print(Alice_Age < Bob_Age) # Using the Comparison Operator to check if Alice_Age is less than Bob_Age

True

In [11]:
print(Alice_Age >= Bob_Age) # Using the Comparison Operator to check if Alice_Age is greater than or equal to Bob_Age

False

In [12]:
print(Alice_Age <= Bob_Age) # Using the Comparison Operator to check if Alice_Age is less than or equal to Bob_Age

True

# ord() Function and chr() Function

ord() Function simply takes 1 String Character and tells us what is the Unicode Value of that string Literal.

A Unicode code point is simply a number assigned to every character in the Unicode standard.

Think of it as the unique ID of a character.

In [13]:
print(ord('A')) # This shall print the Unicode Value of 'A'

65

In [14]:
print(ord('%')) # This shall print the Unicode Value of '%'

37

In [15]:
print(ord('ðŸ˜‚')) # This shall print the Unicode Value of 'ðŸ˜‚'

128514

If however we want to find what String does a Unicode Value represents, we can use chr() Function.

In [16]:
print(chr(65)) # This shall print the Character attached with 65

A

In [20]:
print(chr(109)) # This shall print the Character attached with 109

m

In [21]:
print(chr(265)) # This shall print the Character attached with 265

Ä‰

# Identity Operators

Identity operators do not compare values.
They compare memory identity â€” whether two variables point to the exact same object in memory.

You may think that since values of two objects is identical therefore it is gauranteed that they are stored in same Memory Location.

In [23]:
a_1 = [1,2,3] # Storing a List Data Type inside Variable a_1
b_2 = [1,2,3] # Storing a List Data Type inside Variable b_2

print(a_1 is b_2) # Using the Identity Operator

False

Even though a_1 and b_1 both have a list [1,2,3] stored inside of them. This does not gaurantee that they share the same memory address.

In [24]:
a = 1
b = 1

print(a is b)

True

Both a and b above have 1 stored inside of them. Also Python has assigned them the same memory address. Therefore True is being printed out.

In [26]:
x_1 = 15654000000
x_2 = 15654000000

print(x_1 is not x_2) # Using the Identity Operator to check whether x_1 and x_2 share the same memory address

True

# id() Function

If you would like to find the Memory Address of a Variable. We can simply use id() Function.

In [27]:
x_1 = 15654000000
x_2 = 15654000000

print(x_1 is x_2)

False

Even though the value stored inside is the same, but Python Interpretor has assigned both variables x_1 and x_2 different memory address or Unique ID. But what is that ID?

In [28]:
print(id(x_1)) # printing the Unique ID of x_1
print(id(x_2)) # printing the Unique ID of x_2

134963474194352
134963474189360

You see, they are stored at different Places.

"is" and "is not" are the called the Identity Operators.

# Membership Operators

Membership Operators (in , not in) are used when we need to check if an element or substring exists within a Collection or String.

In [37]:
grades = {'Arun':70, 'David':60} # Dictionary

In [38]:
print('Arun' in grades)

True

In [39]:
print('David' not in grades)

False

In [40]:
print('Jack' in grades)

False

In [41]:
sentence = 'Brown Fox jumps over Lazy Dog.' # String

In [42]:
print('Fox' in sentence)

True

In [43]:
print('fox' in sentence) # Notice the case sensitivity

False

In [44]:
fruits = ['Apple','Banana','Strawberry'] # List

In [45]:
print('Apple' in fruits)

True

In [46]:
print('Orange' not in fruits)

True

In [47]:
fixed_numbers = (10,20,30) # Tuple

In [48]:
print(10 in fixed_numbers)

True

In [49]:
print(20 not in fixed_numbers)

False

In [50]:
unique = {1,2,3,4,5,6} # Set

In [51]:
print(1 in unique)

True

In [52]:
print(90 not in unique)

True